@charset "UTF-8";
html, body {
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.date {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px;
  border: 0;
  background: #1a1a1a;
  color: white;
  text-align: center;
  outline: none;
}

.ui-datepicker {
  position: relative !important;
  top: 0% !important;
  right: 0% !important;
  bottom: 0% !important;
  left: 0% !important;
  height: 100%;
  padding: 5vh 30px 0 30px;
  background: #1a1a1a;
  color: white;
  visibility: hidden;
}
@media screen and (max-width: 480px) {
  .ui-datepicker {
    padding: 20px 15px 0 15px;
  }
}
.ui-datepicker.active {
  visibility: visible;
}

.ui-datepicker-header {
  display: block;
  width: 100%;
  max-width: 980px;
  padding-bottom: 40px;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-header {
    padding-bottom: 20px;
  }
}
.ui-datepicker-header .ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-header .ui-datepicker-title select {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  color: white;
  border: 0;
  margin: 0 2px;
  font-size: 32px;
  outline: none;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-header .ui-datepicker-title select {
    font-size: 24px;
  }
}
.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next {
  line-height: 48px;
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-header .ui-datepicker-prev,
  .ui-datepicker-header .ui-datepicker-next {
    line-height: 36px;
  }
}
.ui-datepicker-header .ui-datepicker-prev span,
.ui-datepicker-header .ui-datepicker-next span {
  display: none;
}
.ui-datepicker-header .ui-datepicker-prev {
  float: left;
}
.ui-datepicker-header .ui-datepicker-prev:after {
  content: "◀";
}
.ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.ui-datepicker-header .ui-datepicker-next:after {
  content: "◀";
  display: inline-block;
  transform: scaleX(-1);
}

.ui-datepicker-calendar {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.ui-datepicker-calendar thead tr th {
  width: calc(100% / 7);
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 100%;
  padding: 0;
  color: rgba(255, 255, 255, 0.25);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-calendar thead tr th span {
    font-size: 16px;
  }
}
.ui-datepicker-calendar tbody tr td {
  vertical-align: top;
  text-align: center;
}
.ui-datepicker-calendar tbody tr td a {
  padding: 20px 0;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-calendar tbody tr td a {
    padding: 12px 0;
  }
}

.ui-state-default {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  border-radius: 2px;
}
@media screen and (max-width: 480px) {
  .ui-state-default {
    font-size: 20px;
  }
}
.ui-state-default:hover {
  background: #FF3464;
  text-decoration: none;
  color: white;
}

.ui-state-highlight {
  position: relative;
  color: #FF3464;
}
.ui-state-highlight:after {
  position: absolute;
  display: block;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  content: "TODAY";
}
@media screen and (max-width: 480px) {
  .ui-state-highlight:after {
    top: 4px;
  }
}

.ui-state-active {
  color: #FF3464;
  background: rgba(255, 255, 255, 0.03);
}

.ui-datepicker-unselectable .ui-state-default {
  color: rgba(255, 255, 255, 0.15);
  pointer-events: none;
  padding: 20px 0;
}

.ui-datepicker-buttonpane {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-buttonpane {
    padding: 20px 0;
  }
}
.ui-datepicker-buttonpane .ui-datepicker-current {
  display: none;
}
.ui-datepicker-buttonpane .ui-datepicker-close {
  background: none;
  border: none;
  margin: 0 auto;
  color: rgba(255, 52, 100, 0.5);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  outline: none;
}
@media screen and (max-width: 480px) {
  .ui-datepicker-buttonpane .ui-datepicker-close {
    font-size: 16px;
  }
}
